<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">{{ site.title }}</h1>
        <h2 id="project_tagline">{{ site.description }}</h2>
               
        <nav class="site-nav">
          <a href="{{ '/' | relative_url }}">Home</a>
          <a href="{{ '/projects' | relative_url }}">Projects</a>
          <a href="{{ '/contact' | relative_url }}">Contact & Resume</a>
        </nav>

      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with GitHub Pages</p>
      </footer>
    </div>
  </body>
</html>